<p>
  We have received the cancellation of your request.
  We look forward to getting the opportunity to show you the amazing service and luxury you missed this time.
</p>

<p>
  We look forward to taking great care of you in the future.

</p>



