<p>
  Thank you for your order for your friend!
  Once Chauffeur has been assigned, we will notify you!
</p>

<p>Please give us another shot and try again next time you need a ride.</p>

<p>
  We look forward to taking great care of you and your guests in the future.

</p>