<p>
  We wanted to say how sorry we were that no chauffeur was available to accept your request for a luxurious ride.
  Due to our very high standards and the fact that we do not accept just any driver or vehicle (unlike some competitors),
  we may occasionally at busy times not have any cars available.
  Please know that we are working very quickly to add additional chauffeurs to serve you.
</p>

<p>Please give us another shot and try again next time you need a ride.</p>

<p>
  We look forward to taking great care of you in the future.

</p>