<div class="row" style="margin-top: 30px;">
  <div class="col-md-12">
    <p class="f16 museoSans300"><%= t('user.messages.success_forget')%></p>
  </div>
</div>
<div class="row" style="margin-top: 10px;">
  <div class="col-md-2">
    <%= link_to t('button.return_sign_in'), new_user_session_path, :class => 'btn btn-default btn-block text-upper' %>
  </div>
</div>