<!--<div class="col-md-12">-->
  <!--<div class="errors">-->
    <!--<span><%= t :please_correct %></span>-->
    <!--<ul id="summary_errors">-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->
<div class="template" id="error_popup">
  <div class="first_nameformError parentFormregistration_form formError" id="__error_id__">
    <div class="formErrorContent">* __content__<br></div>
    <div class="formErrorArrow formErrorArrowBottom">
      <div class="line10"></div>
      <div class="line9"></div>
      <div class="line8"></div>
      <div class="line7"></div>
      <div class="line6"></div>
      <div class="line5"></div>
      <div class="line4"></div>
      <div class="line3"></div>
      <div class="line2"></div>
      <div class="line1"></div>
    </div>
  </div>
</div>