<div class='container'>

  <div class='block_row'>

    <div class='half'>
      <ul class="no_bullets">
        <h3 class="nothing_around">Thanks for riding!</h3>
        <li class="margin_around">
          <span class="upper green block">Billed To</span>
          <span>Mohammed Taha</span>
        </li>
        <li class="margin_around">
          <span class="upper green block">Trip request date</span>
          <span>September 11, 2013 at 03:59pm</span>
        </li>
        <li class="margin_around">
          <span class="upper green block">Dropoff Location</span>
          <span>56-68 4th Street, San Francisco, CA</span>
        </li>
        <li class="margin_around">
          <span class="upper green block">Credit Card</span>
          <span>Personal Visa - 6902</span>
        </li>
        <li class="margin_around">
          <span class="upper green block">Billed to card</span>
          <h1 class="nothing_around">$16.00</h1>
        </li>
      </ul>
    </div>

    <div class='half'>
      <div class="margin_around">
        <img src="driver.png" class="inline_block"/>
        <div class="inline_block">
          <span class="upper green block">Driver</span>
          <span>Carlos</span>
        </div>
      </div>
      <img src="map.png" />
    </div>

  </div>

</div>
