<div class="row divider" style="margin-top: 30px;"></div>

<div class="row" style="margin-top: 30px;">
  <div class="col-md-12 text-center">
    <% link_to t('links.activate'), '/personal/activate', :role => 'button', :class => 'btn btn-default'%>
    <%= link_to t('links.start'), '/login', :role => 'button', :class => 'btn btn-default'%>
  </div>
</div>