<div class="col-xs-6 hello">
  Select Driver
  <% drivers_array = Driver.all.map { |driver| [driver.name, driver.id] } %>
  <%= select_tag(:select_driver_id, options_for_select(drivers_array)) %>
</div>
