<div class="row" style="margin-top: 30px;">
  <div class="col-md-8 col-md-offset-2 text-center">
    <p class="title"><%= t('top.register.thank_you_for_registration') %></p>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p class="subtitle"><%= t('top.register.your_account_created') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row divider" style="margin-top: 30px;"></div>

<div class="row" style="margin-top: 30px;">
  <div class="col-md-12 text-center">
    <%= link_to t('links.activate'), '/business/activate', :role => 'button', :class => 'btn btn-default'%>
  </div>
</div>