<p>You have requested a password reminder from</p>

<p>
  This happens to all of us with all of the passwords we have to remember today.
  We have made it very easy for you to reset your password.
  Please click <%= link_to 'here', edit_password_url(@resource, :reset_password_token => @token) %> to reset it to something that hopefully is more memorable.
</p>

<p>
  We look forward to taking great care of you.
</p>