<div class="modal fade" id="newCar" tabindex="-1" role="dialog" aria-labelledby="newCarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>
        <h4 class="modal-title" id="newCarlLabel"><%= t('admin.car.add') %></h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"><%= t('admin.car.add') %></button>
        <button type="button" class="btn btn-primary"><%= t('admin.general.reset') %></button>
      </div>
    </div>
  </div>
</div>