<!DOCTYPE html>
<html>
  <head>
    <title>Your Store</title>
    <%= stylesheet_link_tag('style') %>
    <%= yield :header %>
  </head>
  <body>
    <h1>Your Store</h1>
    <%= yield %>
  </body>
</html>